{% extends 'base.html' %}
{% load static %}
{% block title %} {{ block.super }} {% endblock %}

{% block extra-css %}
<style>
.index-app-hero {
  background: url("{% static 'img/others/jared-erondu-10472.jpg' %}");
  background-position: center 0;
  background-size: cover;
  background-attachment: fixed;
  height: 590px;
  padding-top: 150px;
  overflow: hidden;
  position: relative;
}

.business-single-client {
  margin-top: 160px;
  height: 500px;
  background-image: url("{% static 'img/others/photo-1479243396208-be1751535cdb.jpg' %}");
  background-size: cover;
  background-position: center center;
  position: relative;
}
</style>

{% endblock %}


{% block content %}

<div class="index-app-hero">
    <div class="container">
        <h2 class="customFadeInUp">
        Know and learn about your customers,
        <br> Make better decisions
        </h2>
        <p class="customFadeInUp">
            A CRM application that lets you track all your customers, meetings, notes, and plans.<br> 
            Never forget an important contact or follow up task again, <br>
            what are you waiting for?
        </p>
        
        <a href="#" class="btn-pill btn-pill-success btn-pill-lg customFadeInUp">Sign Up Now for CAD 30/Month </a>
    </div>
</div>
    
      <div class="index-app-news">
        <div class="container">
          <span>New</span>
          <strong>iOS app comming soon.</strong> Take your business on the go with our mobile app. 
          <!-- <a href="#">Available in the appstore.</a> -->
        </div>
      </div>
    
      <div class="index-app-features">
        <section class="clearfix">
          <img src="{% static 'img/devices/devices-4.png' %}" class="browser" />
    
          <div class="info">
            <h3>Why trackIt</h3>
            <h4>
              Powerful dashboard, puts you in control.
            </h4>
            <p>
                By tracking your customers in
                an easy to use application you'll
                be able to find them faster. Don't
                waste time searching email, looking
                at business cards, or looking online -
                just open trackIt!
            </p>
          </div>
        </section>
      </div>
    
      <div class="index-features-files index-app clearfix">
        <div class="container2">
          <div class="container1">
            <div class="col col-left">
    
              <div class="features">
                <div class="feature clearfix">
                  <div class="image">
                    <img src="{% static 'img/icons/features-icon-upload.png' %}" />
                  </div>
                  <div class="info">
                    <strong>
                      Improve your workflow today
                    </strong>
                    <p>
                      Streamline your business workflow while keeping in touch with your customers.
                    </p>
                  </div>
                </div>
                <div class="feature clearfix">
                  <div class="image">
                    <img src="{% static 'img/icons/features-icon-earth.png' %}" />
                  </div>
                  <div class="info">
                    <strong>
                      Connect to more customers
                    </strong>
                    <p>
                      Grow your business baseline and while being in control.
                    </p>
                  </div>
                </div>
                <div class="feature clearfix">
                  <div class="image">
                    <img src="{% static 'img/icons/features-icon-repeat.png' %}" />
                  </div>
                  <div class="info">
                    <strong>
                      Easy to customize
                    </strong>
                    <p>
                      Customize your account to suite your business needs.
                    </p>
                  </div>
                </div>
              </div>
    
            </div>
            <div class="col col-right">
              <div class="info">
                <h3>Stay Current</h3>
                <h4>
                    Powerful dashboard, keeps you in control.
                </h4>
                <p>
                    Keeping track of customer details
                    is a critical part of serving the customer
                    right. Make sure you know what they want and when
                    they want it. Use trackIt to track all customer
                    communications.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="index-features-user">
        <header>
          <h3>Your files are always secured</h3>
          <h4>
            We have the best security infrastructure available, your files will always be safe and we make daily backups
          </h4>
        </header>
        <section class="clearfix">
          <img src="{% static 'img/devices/iphone-14.png' %}" class="devices float-right" />
    
          <h4>Win Business</h4>
          <p>
            By tracking customers and staying up
            to date on their requirements you'll be
            in a better position to sell your products
            or services. You win and so does the customer.
          </p>
          <p>
            It works in all browsers, so you can stay ontop of changes.
          </p>
          <div class="icons">
            <i class="ion-monitor"></i>
            <i class="ion-ipad"></i>
            <i class="ion-iphone"></i>
          </div>
        </section>
      </div>
    
      <div class="business-single-client index-app">
        <div class="quote-wrapper">
            <img src="images/customers/logo-customer-7-w.png" class="logo">
            <p>
            "Focus on creating and growing your business, and we‘ll take care of keeping the engine running and making sure you experience the best. Work with all types of customers right out of the box while still getting great results in your environment."
            </p>
            <!-- <div class="author">
            John Smith, Product Designer
            </div> -->
        </div>
        </div>
    
        <div class="index-app-devices">
        <div class="container">
            <img src="{% static 'img/devices/devices-4.png' %}" class="img-fluid d-block mx-auto">
    
            <div class="cta">
            <h3>
                Start tracking your customers and earn more
            </h3>
            <p>
                Sign Up for only CAD30/Month
            </p>
            <a href="">
                Create an account
            </a>
            </div>
        </div>
        </div>
    


{% endblock %}

{% block extra-js %}{% endblock %}