<div class="gi-header">
    <h3 class="ad-mh">{{ account.name }}
        {# Account Edit Link #}
        <span>
            <a href="{{ account.get_update_url }}" class="ad-control edit-account btn btn-link">Edit</a>
        </span>
    </h3>
</div>

<div class="row gi-body">
    <div class="col-md-9">
        <h5 class="h5-responsive gi-sh">Description</h5>
        <p>{{ account.desc }}</p>
    </div>
    <div class="col-md-3">
        <h5 class="gi-sh h5-responsive">Address</h5>
        <p class="nm">{{ account.address_one }}</p>
        <p class="nm">{{ account.address_two }}</p>
        <p class="nm">{{ account.city }}, {{ account.province }}</p>
        <p class="nm">{{ account.phone }}</p>
    </div>
</div>