{% extends 'base.html' %}
{% block title %}Account List|{{ block.super }}{% endblock %}


{% block content %}
<div id="content-container" class="container p-none" style="padding-top:100px;">
    <div id="al-container" class="side-p">
        <div id="al-control">
            <h4>Welcome {{ user }}</h4>
                <div class="search-field clearfix">
                    <form action="{% url 'accounts:account_list' %}" method="GET" class="input-search float-right" autocomplete="on">
                        <i class="ion-android-search"></i>
                        <input type="text" name="account" value="{{ request.GET.account }}" class="input-search" placeholder="Search...">
                        <!-- <button type="submit">Search</button> -->
                        <!-- <input type="submit" value="Search" class="btn-shadow btn-shadow-success btn-shadow-md"> -->
                    </form>
                </div>
            <hr>
            <h3 class="ad-mh">Accounts Owned
                <span class="float-right">
                    <a href="{% url 'accounts:account_new' %}" class="btn-shadow btn-shadow-warning p-r-none">+ Add New Account</a>
                </span>

            </h3>
        </div>
        {# List of Accounts #}
        <br>
        <div id="al-group" class="strip-list">
            {% for account in accounts %}
                <div class="al-item clearfix">
                    <a href="{{ account.get_absolute_url }}" style="" class="float-left"><h4 class="al-name">{{ account.name }}</h4></a><span class="al-created float-right">created on {{ account.created_on }}</span>
                </div>
                <hr>
            {% endfor %}
            </div>
        {% if is_paginated %}
            <div id="al-paginate">
                <ul class="strip-list al-pgnt-list">
                    {% if page_obj.has_previous %}
                    <li class="pull-left">
                        <a href="{% url 'accounts:account_list' %}?page={{ page_obj.previous_page_number }}{% if request.GET.account %}&account={{ request.GET.account }}{% endif %}">Prev</a>
                    </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li class="pull-right">
                        <a href="{% url 'accounts:account_list' %}?page={{ page_obj.next_page_number }}{% if request.GET.account %}&account={{ request.GET.account }}{% endif %}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}