{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent" role="navigation">
    <div class="container no-override">
        <a class="navbar-brand" href="index.html">
        <img src="img/logo-alt-w.png" class="d-none d-lg-inline mr-2 w-25" />
        trackIt
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active dropdown">
            <!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                Home pages
                <i class="ion-chevron-down"></i>
            </a>
            <div class="dropdown-menu" role="menu">
                <a class="dropdown-item" href="index.html">Business</a>
                <a class="dropdown-item" href="index-app.html">Web app</a>
            </div> -->
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Account
                    <i class="ion-chevron-down"></i>
                </a>
                <div class="dropdown-menu" role="menu">
                {% if user.is_authenticated %}
                    <a class="dropdown-item" href="">Logout</a>
                    <a class="dropdown-item" href="">Portal</a>
                {% else %}
                    <a class="dropdown-item" href="">Login</a>
                    <a class="dropdown-item" href="">Register</a>
                {% endif %}
                </div>
            </li>
        </ul>
        </div>
    </div>
</nav>